.details {
  align-items: center;
  background-color: #ece7cf;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  -ms-overflow-style: none;
  padding: 1rem;
  scrollbar-width: none;
}

.details::-webkit-scrollbar {
  display: none;
}

.header-details {
  align-items: center;
  background-color: #ece7cf;
  display: flex;
  padding: 1rem;
  width: 100%;
}

.details-component {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header-details h1 {
  background-color: #f77f00;
  border-radius: 10px;
  color: #ece7cf;
  max-width: 280px;
  padding: 1rem 2rem;
}

.header-details h3 {
  background-color: #003049;
  border-radius: 5px;
  color: white;
  font-size: small;
  padding: 0.1rem 0.35rem;
}

.details-component img {
  align-items: center;
  height: 20rem;
  object-fit: cover;
  width: 100%;
}

.ingredients {
  border: solid #f77f00 1px;
  border-radius: 10px;
  color: #003049;
  display: flex;
  font-size: 0.8rem;
  font-weight: 300;
  justify-content: center;
  padding: 15px;
  padding-left: 1rem;
  width: 90%;
}

.instructions {
  color: #003049;
  font-size: 0.9rem;
  line-height: 1.25rem;
  text-align: justify;
  width: 90%;
}

.recommendation {
  display: flex;
  height: 260px;
}

.share-and-favorite-btn {
  display: flex;
  flex-direction: row;
}

.start-btn {
  border: #003049 solid 2px;

}

.startRecipe {
  background-color: #f77f00;
  border-radius: 5px;
  bottom: 0;
  color: #ece7cf;
  cursor: pointer;
  font-weight: 600;
  height: 40px;
  padding: 7px 0;
  position: fixed;
  width: 100%;

} 

.details {
  align-items: center;
  background-color: #ece7cf;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  -ms-overflow-style: none;
  padding: 1rem;
  scrollbar-width: none;
}

.details::-webkit-scrollbar {
  display: none;
}

.header-details {
  align-items: center;
  background-color: #ece7cf;
  display: flex;
  padding: 1rem;
  width: 100%;
}

.details-component {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header-details h1 {
  background-color: #f77f00;
  border-radius: 10px;
  color: #ece7cf;
  max-width: 280px;
  padding: 1rem 2rem;
}

.header-details h3 {
  background-color: #003049;
  border-radius: 5px;
  color: white;
  font-size: small;
  padding: 0.1rem 0.35rem;
}

.details-component img {
  align-items: center;
  height: 20rem;
  object-fit: cover;
  width: 100%;
}

.ingredients {
  border: solid #f77f00 1px;
  border-radius: 10px;
  color: #003049;
  display: flex;
  font-size: 0.8rem;
  font-weight: 300;
  justify-content: center;
  padding: 15px;
  padding-left: 1rem;
  width: 90%;
}

.instructions {
  color: #003049;
  font-size: 0.9rem;
  line-height: 1.25rem;
  text-align: justify;
  width: 90%;
}

.recommendation {
  display: flex;
  height: 260px;
}

.share-and-favorite-btn {
  display: flex;
  flex-direction: row;
}

.start-btn {
  border: #003049 solid 2px;

}

.startRecipe {
  background-color: #f77f00;
  border-radius: 5px;
  bottom: 0;
  color: #ece7cf;
  cursor: pointer;
  font-weight: 600;
  height: 40px;
  padding: 7px 0;
  position: fixed;
  width: 100%;
}
/* Perdão pelo vacilo */


