.categories {
  align-items: center;
  background: linear-gradient(to bottom right, #ea3c21, #f2b211);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 0.5rem;
  height: 3rem;
  justify-content: space-around;
  margin-bottom: -20px;
  padding: 1rem;
  width: 100%;
}

.category-button {
  background-color: #ae2b09;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 13px;
  font-weight: 800;
  padding: 0.3rem 0.5rem;
}
