.categories {
  align-items: center;
  background-color: #f77f00;
  display: flex;
  gap: 0.5rem;
  height: 3rem;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.category-button {
  font-size: 11px;
  overflow: hidden;
  padding: 0.3rem 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60px;
}
