footer {
  align-items: center;
  background: linear-gradient(to bottom right, #ea3c21, #f2b211);
  bottom: 0;
  display: flex;
  height: 65px;
  justify-content: space-around;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
}

.footer-section {
  bottom: 65px;
  position: absolute;
}
