header {
  align-items: center;
  background-color: #eae2b7;
  box-shadow: 0 0 10px 0 #ece7cf;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  padding: 2rem;
}

.page-title {
  color: #d62828;
  font-size: 3rem;
  margin-top: -20px;
}

.top-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

input {
  border: none;
  border-radius: 5px;
  gap: 1rem;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
}

.search-input {
  background-color: #ece7cf;
  border: #003049 solid 2px;
  border-radius: 5px;
  color: #003049;
  padding: 7px 10px;
  text-align: start;
  width: 100%;
}

button {
  background-color: #ece7cf;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.search-btn {
  background-color: #003049;
  border-radius: 5px;
  color: #ece7cf;
  cursor: pointer;
  font-weight: 600;
  height: 40px;
  margin: 0 10px;
  padding: 7px 0;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.rabio-opts {
  align-items: center;
  color: #003049;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  text-align: center;
}

.label-opt {
  margin-left: -10px;
}

.radio-input {
  appearance: none;
  outline: none;
}

.radio-input:before {
  background-color: transparent;
  border: 1px solid #0000003f;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 16px;
  margin-right: 8px;
  transition: background-color 0.3s ease;
  vertical-align: middle;
  width: 16px;
}

.radio-input:checked:before {
  background-color: #a44a3f;
}
