.recipe-card {
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 10%;
  justify-content: space-between;
  margin: 5px 0;
  padding: 20px;
  scroll-snap-align: start;
  text-decoration: none;
  width: 100%;
}

.recipe-card p {
  color: #003049;
  font-size: medium;
}

.recipe-img {
  border-radius: 10px;
  height: 90%;
  object-fit: cover;
  width: 100%;
}

.card-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: -15px;
  text-align: center;
  text-decoration: none;
}



.meals {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.drinks {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.recommendation {
  background-color: #ece7cf;
  display: flex;
  flex-flow: column wrap;
  font-size: 13px;
  gap: 1rem;
  height: 200px;
  justify-content: center;
  margin: 0 1rem;
  overflow: auto;
  scroll-snap-type: x mandatory;
  width: 100%;
}

.recipe-card img {
  border-radius: 5px;
  width: 130px;
}

.startRecipe {
  background-color: #f77f00;
  border-radius: 5px;
  bottom: 0;
  color: #ece7cf;
  cursor: pointer;
  font-weight: 600;
  height: 40px;
  padding: 7px 0;
  position: fixed;
  width: 100%;
}
