@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap') ;

* {
  box-sizing: border-box;
  font-family: Raleway , sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  color: #003049;
  font-weight: 800;
}

body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Estilizando a barra de rolagem no Chrome, Safari e Edge */
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

