@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap') ;

* {
  box-sizing: border-box;
  font-family: Raleway , sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  color: #a44a3f;
  font-weight: 800;
}
